.container {
    /*padding-top: 56px;*/
}

.navbar {
    background-color: #343a40;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarBarand {
    color: #FFF;
   font-size: 1.5rem;
   text-decoration: none;
}

.navbarNav {
    list-style: none;
    display: flex;
}

.navItem {
    margin-left: 20px;
}

.navLink {
    color: #FFF;
    text-decoration: none;
    font-size: 1rem;
}

.content {
    text-align: center;
    margin-top: 50px;

}

.footer {
    background-color: #1177dd;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}